table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    width: 100%;
    overflow: auto;
    word-break: keep-all;
    margin-top: 0;
    margin-bottom: 16px;
  }
table th {
    font-weight: bold;
  }
table th,
table td {
    padding: 0;
    padding: 6px 13px;
    border: 1px solid #ddd;
  }
table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
  }
table tr:nth-child(2n) {
    background-color: #f8f8f8;
  }