<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="mw9 center ph3-ns">
    <section class="cf">
      <div class="fl w-100 w-50-m w-25-l pa2">
        <div>
          <p class="f4 fw4 white pt2">
            <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 hover-white no-underline white dib">
              {{ with .Site.Params.site_logo_sm }}
                <img src="{{ . }}" class="w100 mw5-ns" alt="{{ $.Site.Title }}" />
              {{ else }}
                {{ .Site.Title }}
              {{ end }}
            </a>
          </p>
          <p class="f4 fw4 white">Made with <i class="fas fa-heart"></i> in <a class="f4 fw4 white hover-white no-underline" target="_blank" href="https://goo.gl/maps/nszSNPDFFGFdpbfx6">Cleveland</a></p>
          <p>
            <a class="f4 fw4 white hover-white no-underline" href="https://aboutdave.info" >
              &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
            </a>
          </p>
        </div>
      </div>
      <div class="fl w-100 w-50-m w-25-l pa2">
        <div>
          <h2 class="white pt2 mb0">Player's Guide</h2>
          <ul class="list pl0">
              <li><a class="f4 fw2 hover-white no-underline white dib" href="/core-rules/welcome/">Welcome</a></li>
              <li><a class="f4 fw2 hover-white no-underline white dib" href="/core-rules/player/getting-started/">Getting Started</a></li>
              <li><a class="f4 fw2 hover-white no-underline white dib" href="/core-rules/player/challenges/">Challenges</a></li>
              <li><a class="f4 fw2 hover-white no-underline white dib" href="/core-rules/player/results/">Results</a></li>
              <li><a class="f4 fw2 hover-white no-underline white dib" href="/core-rules/player/advancement/">Advancement</a></li>
          </ul>
        </div>
      </div>
      <div class="fl w-100 w-50-m w-25-l pa2">
        <div>
          <h2 class="white pt2 mb0">GM's Companion</h2>
          <ul class="list pl0">
              <li><a class="f4 fw2 hover-white no-underline white dib" href="/core-rules/gm/art-of-gming/">Art of GMing</a></li>
              <li><a class="f4 fw2 hover-white no-underline white dib" href="/core-rules/gm/crafting-challenges/">Crafting Challenges</a></li>
              <li><a class="f4 fw2 hover-white no-underline white dib" href="/core-rules/gm/reuse-this-system/">Reuse This</a></li>
          </ul>
        </div>
      </div>
      <div class="fl w-100 w-50-m w-25-l pa2">
        <div>
          <h2 class="white pt2 mb0">Site Info</h2>
          <ul class="list pl0">
            <li><a class="f4 fw2 hover-white no-underline white dib" href="/about">About</a></li>
            <li><a class="f4 fw2 hover-white no-underline white dib" href="/blog">Blog</a></li>
            <li><a class="f4 fw2 hover-white no-underline white dib" href="/legal">Legal</a></li>
            <li><a class="f4 fw2 hover-white no-underline white dib" href="/publications">Publications</a></li>
            <!-- <li><a class="f4 fw2 hover-white no-underline white dib" href="/settings">Settings</a></li> -->
            <li class="pv4">{{ partial "social-follow.html" . }}</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

</footer>