{{ with .Param "email" }}
<a href="{{ . }}" target="_blank" class="link-transition link dib z-999 ph1 pt3 pt0-l mr1" title="Email link" rel="noopener" aria-label="send an email——Opens in a new window">
  <i class="far fa-paper-plane fa-lg white grow-large"></i>
</a>
{{ end }}
{{ with .Param "facebook" }}
<a href="{{ . }}" target="_blank" class="link-transition link dib z-999 ph1 pt3 pt0-l mr1" title="Facebook link" rel="noopener" aria-label="follow on Facebook——Opens in a new window">
  <i class="fab fa-facebook-f fa-lg white grow-large"></i>
</a>
{{ end }}
{{ with .Param "twitter" }}
<a href="{{ . }}" target="_blank" class="link-transition link dib z-999 ph1 pt3 pt0-l mr1" title="Twitter link" rel="noopener" aria-label="follow on Twitter——Opens in a new window">
  <i class="fab fa-twitter fa-lg white grow-large"></i>
</a>
{{ end }}
{{ with .Param "instagram" }}
<a href="{{ . }}" target="_blank" class="link-transition link dib z-999 ph1 pt3 pt0-l mr1" title="Instagram link" rel="noopener" aria-label="follow on Instagram——Opens in a new window">
  <i class="fab fa-instagram fa-lg white grow-large"></i>
</a>
{{ end }}
{{ with .Param "reddit" }}
<a href="{{ . }}" target="_blank" class="link-transition link dib z-999 ph1 pt3 pt0-l mr1" title="Reddit link" rel="noopener" aria-label="follow on Reddit—-Opens in a new window">
  <i class="fab fa-reddit-alien fa-lg white grow-large"></i>
</a>
{{ end }}
